<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8" />
  <title>Hauler: demo site for Haul</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/prism/prism.css') }}" /> -->
  {% block head %}{% endblock %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-510626-6']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10 centered">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <a href="https://github.com/vinta/Haul"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ url_for('static', filename='images/fork-me-on-github.png') }}" alt="Fork me on GitHub"></a>
  <!-- <script src="{{ url_for('static', filename='libs/prism/prism.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='bower_components/jquery/jquery.js') }}"></script> -->
  <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular-loading-bar/src/loading-bar.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bower_components/angular-route/angular-route.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='bower_components/nucleus-angular-prism/prism.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
